.delete-card{
    border: 1px solid black;
    margin-top: 3%;
    box-shadow: 3px 3px 15px 1px rgb(255, 0, 0);
}
.input-div{
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-div{
    margin-left: 25%;
    margin-right: 25%;
}
.text-yes-no{
    color: blue;
}
.popup-heading{
    color: red;
}
