.header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}
.main-div{
    margin-left: 25%;
    margin-right: 25%;
}
.show-list-card{
    border: 1px solid black;
    margin-top: 10%;
    box-shadow: 3px 3px 15px 1px rgb(199 199 199);
}
.list-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.delete-btn{
    color: red;
    font-size: xx-large;
}
.update-btn{
    color: green;
    font-size: xx-large;
}
.not-completed{
    color: red;
}
.completed{
    color: green;
}
